<div class="row justify-space-between-md">
  <div class="comment-card">
    <h2 class="page-title">Leave a Comment</h2>
    <form class="form comment-form">
      <div class="form-group">
        <label for="text-comment">Enter your comment here:</label>
        <input class="form-input" type="text" id="text-comment" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>